<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <phpsdk>
        <phpsdk name="PHP SDK Tests">
            <directory>./tests/</directory>
        </phpsdk>
    </phpsdk>
    <testsuites>
  	<testsuite name="PHPSDK">
    		<file>src/Controllers/BaseController.php</file>
    		<directory>tests/</directory>
  	</testsuite>
    </testsuites>
</phpunit>
